/* Normalize */
@import url(./css/normalize.css);

/* Fuente personalizada */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Special Elite";
  background-image: url(/img/drumblaster_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0;
}

ul.record-options li {
  display: inline;
  margin: 10px;
}

.record-button {
  width: 7rem;
  height: 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255, 70%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

.record-button.clicked {
  transform: translateY(2px);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.logo {
  max-height: 5rem;
}

/* Grid */
.container {
  display: grid;
  grid-template-columns: 1fr 1.4fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}

.header {
  grid-area: header;
  height: 5rem;
}

.footer {
  grid-area: footer;
  height: 2rem;
}

.main {
  grid-area: main;
  height: calc(100vh - 7rem);
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 7rem);
}

/* Referencias Aside */
aside {
  background-color: rgb(255, 255, 255, 50%);
}

aside h2 {
  text-align: center;
  padding-top: 2rem;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  padding-inline-start: 0;
}

ul li img {
  vertical-align: text-bottom;
}

.key {
  max-width: 1.5rem;
}

/* Footer */

footer {
  text-align: center;
}

/* Imagenes batería en grid CSS*/

.drumkit-container {
  display: grid;
  grid-template-areas: "bateria";
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  justify-items: center;
  align-items: center;
  height: calc(100vh - 7rem);
}

article figure {
  grid-area: bateria;
  grid-column: 1 / 11;
  grid-row: 1 / 11;
  align-self: center;
  justify-self: center;
}

figure img {
  width: 95%;
}

/* Botones de la bateria */

.styled-button {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255, 70%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

.styled-button.clicked {
  transform: translateY(2px);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

article button {
  grid-area: bateria;
}

button#button-a {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: flex-end;
}

button#button-s {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
  align-self: flex-end;
}

button#button-d {
  grid-column: 9 / 10;
  grid-row: 2 / 3;
  align-self: flex-end;
}

button#button-v {
  grid-column: 4 / 5;
  grid-row: 8 / 9;
  align-self: flex-end;
}

button#button-g {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  align-self: flex-end;
}

button#button-n {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  align-self: flex-start;
}

button#button-j {
  grid-column: 7 / 8;
  grid-row: 7 / 8;
  align-self: flex-start;
}

button#button-k {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  align-self: flex-start;
}

button#button-l {
  grid-column: 6 / 7;
  grid-row: 4 / 5;
  align-self: flex-start;
}
